<el-container ref='nav-comp'>
    <el-aside>
        <el-header>
            <div class="el-collapse" @click='isCollapse=!isCollapse'>
                <i class="el-icon-arrow-left left" v-if='!isCollapse'></i>
                <i class="el-icon-arrow-right right" v-if='isCollapse'></i>
            </div>
        </el-header>
        <el-menu :default-active='active' class="el-menu-vertical-left" @select="open" :collapse="isCollapse">

            <el-menu-item :index="item.id" v-for='(item,index) in navList'>
                <i :class="[item.icon]"></i>
                <span slot="title">{{item.title}}{{setActive()}}</span>
            </el-menu-item>

        </el-menu>

    </el-aside>

    <el-container>

        <el-header>

            <el-menu mode="horizontal" class="el-menu-vertical-top">


                <el-menu mode="horizontal" class="el-menu-vertical-top float-right">


                    <el-menu-item index="1">
                        <i class="fa fa-user"></i>
                    </el-menu-item>

                    <el-menu-item index="2">
                        <i class="el-icon-bell"></i>
                    </el-menu-item>
                    <el-menu-item index="3">
                        <i class="el-icon-setting"></i>
                    </el-menu-item>


                </el-menu>
            </el-menu>

        </el-header>

        <el-main>
            <slot>
                <iframe class="iframe" src="http://aoadmin.com/pages/login/login.html" frameborder="0"></iframe>
            </slot>
        </el-main>
    </el-container>

</el-container>