<div class="goods-list-comp">
    <el-row style="margin-bottom: 10px">
        <el-col :span='24'>

            <el-button type="primary" icon="el-icon-plus" size='small' @click='add()' v-if='getShowItem("add")'>新增</el-button>
            <el-button type="danger" icon="el-icon-delete" size='small' @click='batchDeleting()' v-if='getShowItem("dels")'>删除选中</el-button>
            <el-button type="primary" icon="el-icon-refresh" size='small' @click='refresh();tool.isRefreshLoading=true;' :loading="tool.isRefreshLoading">刷新表格</el-button>

            <div class="float-right">
                <el-input placeholder="搜索……" size='small' v-model="conf.table.key" clearable v-on:keyup.enter.native='search();'>
                    <el-button slot="append" type="primary" icon="el-icon-search" size='small' @click='search()' :loading="tool.isSearchLoading">搜索</el-button>
                </el-input>
            </div>

        </el-col>
    </el-row>

    <table-comp ref='table' :conf.sync='conf'>

        <el-table-column type='selection' v-if='getShowItem("select")'></el-table-column>

        <el-table-column prop="goods_id" width='80' label="产品ID"></el-table-column>

        <el-table-column prop="goods_title" width='100' label="产品头像">
            <template slot-scope="scope">
                <img :src="$getUrl(scope.row.head_img)" style="max-width: 100%" alt="">
            </template>
        </el-table-column>
        <!-- goods_sketch -->

        <el-table-column prop="goods_title" label="产品标题">
        </el-table-column>


        <el-table-column prop="money" width='200' label="费用">
            <template slot-scope="scope">
                <el-input v-model="scope.row.money" size='mini' @keyup.enter.native="editItem(scope.row,'money')" @blur="editItem(scope.row,'money')"
                    placeholder="请输入费用"></el-input>
            </template>
        </el-table-column>



        <el-table-column prop="max" width='200' label="订货上限">
            <template slot-scope="scope">
                <el-input v-model="scope.row.max" size='mini' @keyup.enter.native="editItem(scope.row,'max')" @blur="editItem(scope.row,'max')"
                    placeholder="请输入费用"></el-input>
            </template>
        </el-table-column>

        <el-table-column prop="add_time" label="添加时间" width='200'></el-table-column>
        <el-table-column prop="edit_time" label="最后编辑时间" width='200'></el-table-column>

        <el-table-column label="操作" width='200' fixed='right' v-if='getShowItem("tool")' align='center'>
            <template slot-scope="scope">
                <el-button size="mini" @click="edit(scope.$index, scope.row)">编辑</el-button>
                <el-button size="mini" :key='$getRand()' type="danger" @click.stop="del(scope.$index, scope.row)">删除</el-button>
            </template>
        </el-table-column>
        <slot name="tool"></slot>
    </table-comp>

</div>